h1 {
    color: midnightblue;
    text-align: left;
    font-size: 96px;
    font-style: italic;
    font-family: fantasy;
      }

  label {
  font-size: 35px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: italic;
  }